PORT="4750"
DATABASE_URL="postgres://postgres:dev@localhost:5432/my_db"
APP_URL="http://localhost:4750"

STRIPE_TEST_KEY="sk_test_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
STRIPE_WEBHOOK_SECRET="whsec_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
STRIPE_PRO_PRICE_ID="price_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

